@import '../../styles/variables.css';

.bannerSection {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #2d2d2d;
  margin: 8rem 0;
  padding: 6rem 0;
  text-align: center;
}

.bannerContent {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.bannerContentText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bannerTitle {
  opacity: 0;
  transform: translateX(-100%);
}

.bannerTitleAnim {
  font-size: var(--h1-size);
  line-height: 1.3;
  opacity: 0;
  transform: translateX(-100%);
  animation: gotoright 1s forwards;;
}

@keyframes gotoright {
    0% {
    opacity: 0;
    transform: translateX(-100%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

@media (max-width: 550px) {
  .bannerTitleAnim {
    font-size: var(--h2-size);
  }
}

.bannerText {
  opacity: 0;
  transform: translateX(100%);
}

.bannerTextAnim {
  opacity: 0;
  transform: translateX(100%);
  font-size: var(--h3-size);
  animation: gotoleft 1s forwards;
}

@keyframes gotoleft {
    0% {
    opacity: 0;
    transform: translateX(100%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

@media (max-width: 550px) {
  .bannerContentText p {
    font-size: 2rem;
  }
}

.bannerContentText span {
  color: var(--main-theme-color);
  font-weight: 500;
}