@import '../../styles/variables.css';

.bannerSection {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #2d2d2d;
  margin: 8rem 0;
  padding: 6rem 0;
  text-align: center;
}

.bannerContent {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.bannerContentText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bannerContentText h2 {
  font-size: var(--h1-size);
  line-height: 1.3;
}

@media (max-width: 550px) {
  .bannerContentText h2 {
    font-size: var(--h2-size);
  }
}

.bannerContentText p {
  font-size: var(--h3-size);
}

@media (max-width: 550px) {
  .bannerContentText p {
    font-size: 2rem;
  }
}

.bannerContentText span {
  color: var(--main-theme-color);
  font-weight: 500;
}