@import '../../styles/variables.css';

.pickSection {
  padding: 10rem 0;
}

.pickContainer {
  display: flex;
  flex-direction: column;
}

.pickContainerTitle {
  margin: 0 auto;
  text-align: center;
  color: var(--main-text-color);
  max-width: 50rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.pickContainerTitleP {
  font-size: var(--p-size);
  font-family: var(--text-font);
  color: var(--secondary-text-color);
  line-height: 1.5;
  opacity: 0;
  transform: translateY(100%);
}

.pickContainerTitlePAnim {
  font-size: var(--p-size);
  font-family: var(--text-font);
  color: var(--secondary-text-color);
  line-height: 1.5;
  animation: gotoup 1.5s forwards;
}

@keyframes gotoup {
  0% {
  opacity: 0;
  transform: translateY(100%);
  }
  100% {
  opacity: 1;
  transform: translateY(0);
  }
}

.pickContainerTitleH3 {
  font-size: var(--h3-size);
  font-family: var(--text-font);
  font-weight: 500;
  opacity: 0;
  transform: translateX(-100%);
}

.pickContainerTitleH3Anim {
  font-size: var(--h3-size);
  font-family: var(--text-font);
  font-weight: 500;
  animation: gotoright 1s forwards;
}

@keyframes gotoright {
    0% {
    opacity: 0;
    transform: translateX(-100%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

.pickContainerTitleH2 {
  font-size: var(--h2-size);
  font-family: var(--title-font);
  margin: 0.5rem 0 1rem 0;
  opacity: 0;
  transform: translateX(100%);
}

.pickContainerTitleH2Anim {
  font-size: var(--h2-size);
  font-family: var(--title-font);
  margin: 0.5rem 0 1rem 0;
  animation: gotoleft 1.5s forwards;

}

@keyframes gotoleft {
    0% {
    opacity: 0;
    transform: translateX(100%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

.pickContainerCarContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.pickContainerCarContentAnim {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}


@media (min-width: 1050px) {
  .pickContainerCarContent {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    opacity: 0;
    transform: translateY(100%);
  }
  .pickContainerCarContentAnim {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    opacity: 0;
    transform: translateY(100%);
    animation: gotoup 1.5s forwards;
  }

}

.pickBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style: none;
}

.pickBox button {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-family: var(--title-font);
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  background-color: #e9e9e9;
  transition: all 0.2s;
  text-align: left;
}

.pickBox button:hover {
  background-color: var(--main-theme-color);
  color: white;
}

.coloredButton {
  background-color: var(--main-theme-color) !important;
  color: white;
}