@import '../../styles//variables.css';

.downloadSection {
  background-image: url("../../images/banners/bg02.png");
  background-color: var(--secondary-bg-color);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 6rem;
}

@media (max-width: 700px) {
  .downloadSection {
    background-image: none;
  }
}

.downloadText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 55rem;
  text-align: left;
  overflow: hidden;
}

@media (max-width: 700px) {
  .downloadText {
    text-align: center;
    margin: 0 auto;
  }
}

.downloadTextH2 {
  opacity: 0;
  transform: translateX(-50%);
}
.downloadTextH2Anim {
  font-size: var(--h2-size);
  color: var(--main-text-color);
  opacity: 0;
  transform: translateX(-50%);
  animation: gotoright 1.5s forwards;
}
@keyframes gotoright {
    0% {
    opacity: 0;
    transform: translateX(-50%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

.downloadTextP {
  opacity: 0;
  transform: translateX(50%);
}
.downloadTextPAnim {
  font-size: var(--p-size);
  color: var(--secondary-text-color);
  font-family: var(--text-font);
  line-height: 1.5;
  opacity: 0;
  transform: translateX(50%);
  animation: gotoleft 1.5s forwards;
}

@keyframes gotoleft {
    0% {
    opacity: 0;
    transform: translateX(50%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}
.downloadTextBtns {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

@media (max-width: 700px) {
  .downloadTextBtns {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .downloadTextBtns {
    flex-direction: column;
    align-items: center;
  }
}

.downloadTextBtnsImg {
  width: 22rem;
  cursor: pointer;
  margin-bottom: 4rem;
}
.downloadTextBtnsImgAnim {
  width: 22rem;
  cursor: pointer;
  animation: wave 1.5s linear;
  margin-bottom: 4rem;
}

@keyframes wave {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}

/* @media (min-width: 550px) {
  .downloadTextBtnsImg {
    width: 40%;
  }
  .downloadTextBtnsImgAnim {
      width: 40%;
  }
} */